*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
}
a,a:hover{
    text-decoration: none;
}
.title{
    width: 100%;
    text-align: center;
}
.title h1{
    font-size: 45px;
    font-weight: 800;
    line-height: 55px;
    text-transform: capitalize;
    color: #fff;
}
.title p{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #8b8b8b;
    margin-top: 40px;
}

/* header section start */

.header{
    width: 100%;
    padding: 0px 0px 50px;
    background: url("../images/bg1.png") center top no-repeat;
    background-size: cover;
}
.header .bg-light{
    background: transparent !important;
}
.header .navbar{
    width: 100%;
    padding: 30px 0px; 
}
.navbar .container{
    padding: 0px;
}
.header .bg-light img{
    width: 95%;
}
.header .navbar-light .navbar-nav .nav-link.active{
    color: #fff;
    background: url("../images/hr.png") center bottom no-repeat;
    background-size: contain;
}
.header .navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 20px;
}
.header .navbar-light .navbar-nav .nav-link:hover, .header .navbar-light .navbar-nav .nav-link:focus{
    color: #fb414e;
    background: url("../images/hr.png") center bottom no-repeat;
    background-size: contain;
}
.header .title{
    padding: 100px 0px 200px;
}
.header .inner-btn{
    width: 100%;
    padding: 30px 0px;
}
.header .inner-btn .btn-primary{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    color: #fff;
    padding: 10px 50px;
    border: 2px solid #fb414e;
    border-radius: 0px;
    background: #fb414e;
    margin-right: 10px;
    transition: 1s;
}
.header .inner-btn .btn-primary:hover, .header .inner-btn .btn-primary:focus{
    background: transparent;
}
.header .inner-btn .btn-info{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    color: #fff;
    padding: 10px 50px;
    border: 2px solid #fb414e;
    border-radius: 0px;
    background: transparent;
    transition: 1s;
}
.header .inner-btn .btn-info:hover, .header .inner-btn .btn-info:focus{
    background: #fb414e;
}

/* header section end */

/* feature section start */

.feature{
    width: 100%;
    padding-bottom: 80px;
}
.feature .row{
    --bs-gutter-x: -5.0rem;
}
.feature .three-card{
    width: 100%;
    text-align: left;
    margin-top: -80px;
}
.feature .card-img, .card-img-top{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.feature .three-card .card{
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 0px;
    padding: 50px 30px 30px;
    background: #202b30;
    box-shadow: 0px 0px 20px #202b30;
    transition: 1s;
}
.feature .three-card .card img{
    width: 30%;
    padding: 20px 0px 0px;
    margin-left: 10px;
}
.feature .three-card .card-body{
    width: 100%;
    padding: 20px 10px;
}
.feature .three-card .card-body img{
    margin: 0px;
    padding: 0px;
}
.feature .three-card .card-body h5{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.feature .three-card .card-body p{
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #fff;
    margin-top: 20px;
}
.feature .three-card .card:hover, .feature .three-card .card:focus{
    background: #fb414e;
}

/* feature section end */

/* service section start */

.service{
    width: 100%;
    padding: 40px 0px 80px;
}
.service .row{
    --bs-gutter-x: -5.0rem;
}
.service .title{
    margin-bottom: 100px;
}
.service .title h1{
    color: #000;
}
.service .title h1 span{
    color: #fb414e;
}
.service .title p{
    color: #8b8b8b;
}
.service .inner-service{
    width: 100%;
    text-align: center;
    padding: 20px 0px;
}
.service .inner-service .card{
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 0px;
}
.service .card-img-one{
    width: 20%;
    height: 20%;
    margin: 10px auto;
}
.service .card-img-tow{
    width: 14%;
    height: 14%;
    margin: 10px auto;
}
.service .card-img-three{
    width: 18%;
    height: 18%;
    margin: 10px auto;
}
.service .card-img-four{
    width: 20%;
    height: 20%;
    margin: 10px auto;
}
.service .card-img-five{
    width: 15%;
    height: 15%;
    margin: 10px auto;
}
.service .card-img-six{
    width: 12%;
    height: 12%;
    margin: 10px auto;
}
.service .inner-service .card-body{
    width: 100%;
    padding: 0px;
}
.service .inner-service .card-body h5{
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 10px;
}
.service .inner-service .card-body p{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #8b8b8b;
    margin-top: 10px;
}

/* service section end */

/* detail section start */

.detail{
    width: 100%;
    padding: 20px 0px 0px;
}
.detail .container{
    width: 100%;
    background: #202b30;
    padding: 50px 80px;
}
.detail .title{
    width: 100%;
    text-align: left;
}
.detail .title h1{
    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    text-transform: capitalize;
    color: #fff;
}
.detail .title p{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #8b8b8b;
    margin-top: 30px;
}
.detail .inner-detail .btn-primary{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    color: #fff;
    padding: 10px 50px;
    border: 2px solid #fff;
    border-radius: 0px;
    margin-top: 20px;
    background: transparent;
    transition: 1s;
}
.detail .inner-detail .btn-primary:hover, .detail .inner-detail .btn-primary:focus{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    background: #fff;
}
.detail .image{
    width: 100%;
    height: 100%;
}

/* detail section end */

/* responsive section start */

.responsive{
    width: 100%;
    padding: 0px 0px 80px;
}
.responsive .container{
    width: 100%;
    background: #f8f8f8;
    padding: 50px 80px;
}
.responsive .res-one{
    width: 100%;
}
.responsive .res-one h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    color: #000;
}
.responsive .res-one p{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #8b8b8b;
    margin-top: 10px;
}
.responsive .res-tow{
    width: 100%;
    margin-top: 55px;
}
.responsive .res-tow h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    color: #000;
}
.responsive .res-tow p{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #8b8b8b;
    margin-top: 10px;
}
.responsive .res-three{
    width: 100%;
}
.responsive .res-three h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    color: #000;
}
.responsive .res-three p{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #8b8b8b;
    margin-top: 10px;
}
.responsive .res-four{
    width: 100%;
    margin-top: 55px;
}
.responsive .res-four h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    color: #000;
}
.responsive .res-four p{
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #8b8b8b;
    margin-top: 10px;
}
.responsive .title{
    width: 100%;
    text-align: left;
}
.responsive .title h1{
    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    text-transform: capitalize;
    color: #000;
}
.responsive .title p{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #8b8b8b;
    margin-top: 30px;
}
.responsive .inner-para p{
    margin-top: 20px;
}

/* responsive section end */

/* brand section start */

.brand{
    width: 100%;
    padding: 0px 0px 80px;
}
.brand .bg-light{
    background: transparent !important;
}
.brand .navbar-light .navbar-nav .nav-link.active{
    color: #000;
    background: url("../images/hr3.png") center bottom no-repeat;
    background-size: contain;
}
.brand .navbar-light .navbar-nav .nav-link{
    color: #8b8b8b;
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    text-transform: capitalize;
    margin: 0px 20px;
}
.brand .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    color: #000;
    background: url("../images/hr3.png") center bottom no-repeat;
    background-size: contain;
}
.brand .picture{
    width: 100%;
    padding: 40px 0px 14px;
    opacity: 0.3;
    transition: 1s;
}
.brand .picture:hover, .brand .picture:focus{
    opacity: 1;
}
.brand .picture-tow{
    width: 100%;
    padding: 14px 0px 40px;
    opacity: 0.3;
    transition: 1s;
}
.brand .picture-tow:hover, .brand .picture-tow:focus{
    opacity: 1;
}

/* brand section end */

/* learn section start */

.learn{
    width: 100%;
    padding: 20px 0px 0px;
}
.learn .container{
    width: 100%;
    padding: 50px 80px;
}
.learn .title{
    width: 100%;
    text-align: left;
}
.learn .title h1{
    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    text-transform: capitalize;
    color: #000;
}
.learn .title p{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #8b8b8b;
    margin-top: 30px;
}
.learn .inner-learn .btn-primary{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    color: #000;
    padding: 10px 50px;
    border: 2px solid #000;
    border-radius: 0px;
    margin-top: 20px;
    background: transparent;
    transition: 1s;
}
.learn .inner-learn .btn-primary:hover, .learn .inner-learn .btn-primary:focus{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    background: #000;
}
.learn .bg-image{
    width: 105%;
    margin: 10px 0px 0px;
}

/* learn section end */

/* project section start */

.project{
    width: 100%;
    padding: 0px;
}
.project .container{
    width: 100%;
    background: #202b30;
    padding: 50px 80px;
}
.project .pro-one img{
    width: 200px;
    height: 33px;
    margin-top: 28px;
}
.project .pro-tow img{
    width: 85px;
    margin-top: 55px;
}
.project .pro-three img{
    width: 200px;
}
.project .pro-four img{
    width: 121px;
    margin-top: 60px;
}
.project .title{
    width: 100%;
    text-align: right;
}
.project .title h1{
    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    text-transform: capitalize;
    color: #fff;
}
.project .title p{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #8b8b8b;
    margin-top: 30px;
}

/* project section end */

/* craft section start */

.craft{
    width: 100%;
}
.craft .container{
    width: 100%;
    background: url("../images/bg3.png") center top no-repeat;
    background-size: cover;
    padding: 50px 80px;
}
.craft .title{
    width: 100%;
    text-align: left;
}
.craft .title h1{
    font-size: 35px;
    font-weight: 800;
    line-height: 45px;
    text-transform: capitalize;
    color: #000;
}
.craft .title p{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #8b8b8b;
    margin-top: 30px;
}
.craft .build{
    width: 100%;
    text-align: left;
}
.craft .build .card{
    background: transparent !important;
}
.craft .card-img, .card-img-top{
    border-top-left-radius: none;
    border-top-right-radius: none;
}
.craft .build .card{
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 0px;
    background: transparent !important;
}
.craft .build .card img{
    width: 15%;
    padding: 20px 0px 0px;
}
.craft .build .card-body{
    padding: 10px 0px;
}
.craft .build .card-body h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    color: #000;
}
.craft .build .card-body p{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #8b8b8b;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* craft section end */

/* contact section start */

.contact{
    width: 100%;
    padding: 80px 0px;
}
.contact .title{
    width: 100%;
    text-align: right;
    margin-right: 20px;
}
.contact .title h1{
    color: #000;
}
.contact .title p{
    margin: 10px;
}
.contact .inner-contact{
    width: 100%;
    padding: 16px 25px;
}
.contact .inner-contact .plaintext{
    width: 302px;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #212529;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
    margin-right: 10px;
}
.contact .inner-contact .second{
    margin: 0px;
}
.contact .inner-contact .form-control{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #8b8b8b;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
}
.contact .inner-contact .form-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: #8b8b8b;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0px;
}
.contact .submit{
    width: 100%;
    padding: 20px 20px;
}
.contact .submit .btn-primary{
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 15px;
    border: 2px solid #fb414e;
    border-radius: 0px;
    background: #fb414e;
    transition: 1s;
}
.contact .submit .btn-primary:hover, .contact .submit .btn-primary:focus{
    background: transparent;
    border: 2px solid #fb414e;
    color: #fb414e;
    font-weight: 600;
}

/* contact section end */

/* footer section start */

.footer{
    width: 100%;
    padding: 50px 0px 0px;
    background: #202b30;
}
.footer .bg-light{
    background: transparent !important;
}
.footer .navbar{
    width: 100%;
    padding: 5px 0px; 
}
.navbar .container{
    padding: 0px;
}
.footer .bg-light img{
    width: 80%;
}
.footer .navbar-light .navbar-nav .nav-link.active{
    color: #fff;
    background: url("../images/hr.png") center bottom no-repeat;
    background-size: contain;
}
.footer .navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 20px;
}
.footer .navbar-light .navbar-nav .nav-link:hover, .footer .navbar-light .navbar-nav .nav-link:focus{
    color: #fb414e;
    background: url("../images/hr.png") center bottom no-repeat;
    background-size: contain;
}
.footer .social-icons{
    width: 100%;
    padding: 0px;
    margin-top: 60px;
}
.footer .social-icons li{
    list-style: none;
    display: inline-block;
}
.footer .social-icons li a{
    font-size: 14px;
    padding: 4px;
    color: #000;
    margin-right: 10px;
    background: #fb414e;
    border: 0px;
    border-radius: 100px;
    transition: 1s;
}
.footer .social-icons li a .fa{
    width: 18px;
    height: 18px;
    text-align: center;
}
.footer .social-icons li a:hover, .footer .social-icons li a:focus{
    color: #fb414e;
    background: #fff;
}
.footer .inner-foot{
    width: 100%;
    padding: 80px 0px 0px;
}
.footer .inner-foot h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    color: #fff;
}
.footer .inner-foot p{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #8b8b8b;
    margin-top: 10px;
    margin-bottom: 0px;
}
.footer .inner-foot p a{
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #fb414e;
    transition: 1s;
}
.footer .inner-foot p a:hover, .footer .inner-foot p a:focus{
    color: #fff;
}
.footer .sub-btn{
    width: 100%;
    padding: 80px 0px;
}
.footer .sub-btn h5{
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
    text-align: right;
    color: #fff;
}
.footer .sub-btn .main-form{
    position: relative;
    z-index: 1;
    text-align: right;
    margin-top: 20px;
}
.footer .sub-btn .form-control{
    display: block;
    width: 80%;
    padding: 5px;
    margin-left: 105px;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    color: #8b8b8b;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0px;
}
.footer .sub-btn .btn-primary{
    position: absolute;
    top: 1px;
    right: 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 5px 15px;
    border: 0px;
    border-radius: 0px;
    background: #fb414e;
    transition: 1s;
}
.footer .sub-btn .btn-primary:hover, .footer .sub-btn .btn-primary:focus{
    background: #202b30;
    color: #fb414e;
}
.footer .copy{
    width: 100%;
    padding: 0px;
    margin-top: 80px;
    text-align: right;
    color: #fb414e;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 0px
}

/* footer section end */
